Hello {{ city }}
<section (mouseover)="showSecretMessage()">
  @defer {
  <app-user 
    [name]="name" 
    (notify)="onNotify()" 
  />
  }
  @placeholder {
  <p>Loading user...</p>
  } 

  <router-outlet></router-outlet>

    <div>
    <h1>How I feel about Angular</h1>

    <article>
      <p>Angular is my favorite framework ...</p>
      <p>Angular is my favorite framework ...</p>
      <p>Angular is my favorite framework ...</p>
      <p>Angular is my favorite framework ...</p>
      <p>Angular is my favorite framework ...</p>
      <p>Angular is my favorite framework ...</p>
    </article>

    @defer (on viewport) {
      <app-comments />
    } @placeholder {
      <p>Future comments</p>
    } @loading (minimum 2s) {
      <p>Loading comments...</p>
    }
    </div>

  @if (isLoggedIn) {
    <p>Welcome back!</p>
  } @else {
    <p>Please log in.</p>
  }
  <h3>User list:</h3>

  <ul>
    @for (user of users; track $index) {
      <li>{{ user }}</li>
    }
  </ul>

  <div [contentEditable]="isEditable">Edit me</div>

  <p>{{ message }}</p>
</section>